<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BCR - Binar Car Rental</title>
<link rel="shortcut icon" href="/images/img_service.png" type="image/x-icon">

<!-- CSS Bootstrap -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- CSS Font Awesome -->
<link rel="stylesheet" href="/stylesheets/all.css">
<!-- CSS Data Table -->
<link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css">
<!-- MY CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">


<!-- JavaScript Bootstrap -->
<script src="/javascripts/jquery-3.4.1.slim.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<!-- JavaScript Data Table -->
<script src="/javascripts/jquery.dataTables.min.js"></script>
<!-- JavaScript Font Awesome -->
<script src="/javascripts/all.js"></script>
<!-- MY JavaScript -->
<script src="/javascripts/script.js"></script>
