<nav class="navbar navbar-light bg-light justify-content-between">
  <button type="button" id="sidebarCollapse" class="btn btn-light navbar-brand">
    <i class="navbar-toggler-icon"></i>
  </button>

  <div class="form-inline">
    <form>
      <div class="inner-addon left-addon">
          <i class="fa fa-magnifying-glass text-muted ml-2 custom-fa"></i>
          <input type="text" class="form-control ml-2" placeholder="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0 custom-font-4" type="submit">Search</button>
      </div>
    </form>
    &nbsp; &nbsp;
    <span class="custom-account">U</span>
    <div class="dropdown">
      <a class="btn btn-light dropdown-toggle custom-font-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Unis Badri
      </a>
    
      <div class="dropdown-menu custom-font-3" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Edit Profile</a>
        <a class="dropdown-item" href="/">Logout</a>
      </div>
    </div>
  </div>
</nav>