<nav id="sidebar" class="row">
    <div class="col-4 pl-4">
      <div class="row">
        <div class="col-12 custom-pad">
          <br>
          <div class="custom-logo m-auto"></div>
        </div>
        <div class="col-12 custom-pad">
          <br>
          <div class="m-auto">
            <div class="text-center">
              <i class="fa-solid fa-house"></i><br>
              <a href="/dashboard" class="custom-font-1 text-white">Dashboard</a>
            </div>
          </div>
        </div>
        <div class="col-12 custom-pad">
          <br>
          <div class="m-auto custom-parent-menu-active p-3">
            <div class="text-center">
              <i class="fa-solid fa-truck"></i><br>
              <a href="/list-car" class="custom-font-1 text-white">Cars</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 bg-white text-dark">
      <div class="row">
        <div class="col-12 ml-5 custom-pad">
          <br>
          <div class="custom-logos"></div>
        </div>
        <div class="col-12 custom-pad">
          <br><br>
          <div class="m-auto custom-mar">
            <div class="text-left">
              <h6 class="pl-3 custom-font-3">CARS</h6>
              <div class="custom-menu-active mt-5">
                <p class="p-2 pl-3 font-weight-bold custom-font-3">List Car</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</nav>