<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <%- include('partials/sidebar-dashboard') %> 
      <div id="content">
        <!-- Navbar -->
        <%- include('partials/navbar') %> 
        <!-- Content -->
        <%- include('pages/dashboard') %> 
      </div>
    </div>
  </body>
</html>
