<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="custom-font-1"><span class="font-weight-bold text-dark">Cars > </span>List Car</p>
      </div>
    </div>
    
    <div class="d-flex justify-content-between">
      <h6 class="font-weight-bold custom-font-2">List Car</h6>
      <a class="btn text-white custom-add" href="/add-new-car">+ &nbsp; Add New Car</a>
    </div>
    
    <div class="d-flex justify-content-start mb-4 mt-2">
      <button class="btn custom-btn-car custom-btn-car-active mr-2">All</button>
      <button class="btn custom-btn-car mr-2">Small</button>
      <button class="btn custom-btn-car mr-2">Medium</button>
      <button class="btn custom-btn-car mr-2">Large</button>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-4">
          <img src="/images/image 1.png" class="card-img-top" alt="Mobil">
          <div class="card-body">
            <p class="card-text custom-font-3">Nama/Tipe Mobil</p>
            <p class="card-text font-weight-bold text-dark"> Rp 430.000 / hari</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-key"></i></span>&nbsp;Start rent - Finish rent</p>
            <p class="card-text custom-font-4"><span><i class="fa-solid fa-clock"></i></span>&nbsp;Updated at 4 Apr 2022, 09.00</p>
            <div class="row">
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-outline-danger custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete</a>
                </span>
              </div>
              <div class="col-6">
                <span>
                  <a href="#" class="btn btn-success custom-font-4 w-100 py-2">
                    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>